<a href="https://colab.research.google.com/github/AlbertoBassanoni/MLPNS_ABassanoni/blob/main/MLPNS23_Lesson_17_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Il metodo scientifico in un contesto probabilistico

Il null hypothesis rejection testing framework è un punto di partenza fondamentale per l'analisi di machine learning. Si parte dalla solita gaussiana e dal principio di falsicabilità. 

Dato un modello e dunque una predizione, dobbiamo verificare se i dati falsificano oppure no il modello. Il framework della null hypothesis ci dice se supponiamo che nel nostro modello questa cosa NON avviene, c'è una BASSA probabilità che questa cosa avvenga (lavoriamo in un probabilistic induction framework). Diamo una threshold per decidere se la probabilità è sufficiente per accettare la null hypothesis. Tipicamente in fisica si prende **$3\sigma$** o più. 

Per vedere se una teoria è migliore rispetto a quella che ho costruito, come posso verificarlo a livello di probabilistic induction? 

Quali sono i passi da fare?

1) Formulo una predizione, e definisco una null hypothesis;

2) Identifico tutte le ipotesi alternative qualora la null hypothesis sia rigettata, ed è importante che le teorie rispettino la conservazione della probabilità, cioé

**$P(A)+P(\bar{A})=1$**

Dove **$A$** è l'evento della mia null hypothesis e **$\bar{A}$** è l'alternativa. Ad esempio, posso prendere come null hypothesis **$A=$**{la terra è piatta}, e quindi la alternative hypothesis è **$\bar{A}=$**{la terra non è piatta};

3) Settiamo il threshold di confidenza, cioè quale limite do al **$n\sigma$**, assumendo che i dati siano gaussiani;

4) Troviamo delle pivotal quantities, ossia delle quantità misurabili nel mio modello che sotto la null hypothesis seguono una data distribuzione. In poche parole, scelgo il tipo di test statistico da utilizzare. Questa diventa:

**$p(pivotal quantity|D)\sim p(NH|D)$**

Dove **$\alpha$** è la mia threshold. Ad esempio, la **$\chi^2$** test, che misura la pivotal quantity:

**$\chi^2=\sum_i \frac{(f(x_i)-y_i)^2}{\sigma_i^2}$**

Cioè misuro la differenza tra i valori di aspettazione e i valori reali al quadrato, diviso l'errore relativo al quadrato **$\sigma_i^2$** delle mie misure;

5) Calcoliamo la pivotal quantity;

6) Inseriamola nella sua distribuzione di probabilità, e valutiamo se soddisfa o meno il nostro threshold;

# Test Comuni e Pivotal Quantities:

Ci sono un'enormità di test statistici, adatti al mio tipo di ipotesi e ai miei dati. Se dobbiamo ad esempio fare un fit, il test del **$\chi^2$** è ottimo. Per il calcolo di una correlazione tra dati è ottimale una linear regression. Vediamone alcuni utili:

Z-TEST:

E' vero che la  media di un sample con una varianza nota è la stessa di quella di una popolazione nota? La pivotal quantity è:

**$Z=\frac{(\bar{X}-\mu_0)}{s}$**

Dove **$\bar{X}$** è la media del sample, **$\mu_0$** è la media della popolazione e **$s=\sigma/n$** è la varianza del sample diviso il numero dei suoi elementi. La pivotal quantity Z ha una distribuzione facile, ossia è una gaussiana centrata in zero con varianza unitaria:

**$Z \sim \mathcal{N}(\mu=0,\sigma=1)$**

T-TEST:

E' vero che le medie di due diversi sample sono significativamente differenti? La pivotal quantity è:

**$t=\frac{\bar{X_1}-\bar{X_2}}{\sqrt{s_1^2/n_1 + s_2^2/n_2}}$**

La t segue la distribuzione di Student.

KOLMOGOROV-SMIRNOFF (K-S) TEST:

E' un modello non parametrico, con un range di applicabilità molto più ampio. E' vero che due sample provengono dalla medesima distribuzione cumulativa? La pivotal quantity è:

**$d_{12}=max_x |C_1(x)-C_2(x)|$**

Dove **$C_1(x)$** e **$C_2(x)$** sono le due distribuzioni cumulative. La probabilità **$P(d>observed)$**

# Il problema della demarcazione nei contesti Bayesiani

Nella null hypothesis rejection test si utilizza un'ipotesi frequentista della probabilità. Che vuol dire non interpretare la probabilità in maniera frequentista? Vuol dire che parliamo di un'interpretazione bayesiana della probabilità. Dalla definizione di probabilità condizionata:

**$p(M|D)=\frac{P(M)P(D|M)}{P(D)}$**   

M -> modello, D - > dati. P(M) è il prior, mentre, P(D|M) è la likelihood, P(D) è l'evidence, P(M|D) è la posterior. Dal teorema di disintegrazione:

**$P(A|B)P(B)=P(B|A)P(A)$**

Quindi si ha il teorema di Bayes:

**$p(A|B)=\frac{P(A)P(B|A)}{P(B)}$**

Posso verificare attraverso la probabilità bayesiana se un certo set di parametri **$\theta_1$** è meglio di altro set **$\theta_2$** attraverso il teorema:

**$P(\theta_1|D)>P(\theta_2|D)$**?

Allora:

**$\frac{P(\theta_1)P(D|\theta_1)}{P(D)}>\frac{P(\theta_2)P(D|\theta_2)}{P(D)}$**

Posso scegliere due prior **$P(\theta_1)$** e **$P(\theta_2)$** liberamente, la likelihood si legge dal modello, e l'evidenza P(D) non è importante poichè si cancella nella disuguaglianza.

# Leggi di Scala:

Due quantità che sono relazionate alla stessa variabile fisica, ma con una legge a potenza diversa. Ad esempio: lunghezza ed area, area e volume, etc...

L'esistenza di una relazione di scala tra due quantità fisiche posso relazionarla ad un modello che prevede questa scaling law. Ad esempio in astrofisica la Tully - Fisher relationship è una relazione empirica tra la luminosità di una galassia e la sua velocità di rotazione, legata ad una prediction dei modelli di gravità. Altra scaling law è sul metabolismo basali dei mammari in funzione del loro peso in biologia, e questa scaling law è dovuta ad un modello teorico di network per i vasi sanguigni. La scaling law esiste anche per l'urban science, ad esempio la quantità di crimine, il GDP, il medium income e il numero di patenti sono funzioni lineari in log space della quantità di popolazione, e ciò è legato a modelli di predizione teorici di networks.

# Applicazione delle Scaling Law: Earthquakes

L'idea dell'autore è che vi sia una scaling law tra l'intervallo temporale tra un terremoto e l'altro e la loro magnitudine. Si utilizza un test KS separando i sample dei diversi earthquakes a diversa magnitudine, e confronto i vari gruppi.

Null Hypothesis: tutti i miei samples hanno la stessa distribuzione (i.e. coincide con la predizione di avere la stessa scaling law);

In [5]:
import pandas as pd
import pylab as pl
import scipy as sp
from scipy import stats

In [7]:
eqs=pd.read_csv("https://github.com/fedhere/MLPNS_FBianco/blob/main/statistics/KStest/earthquakes.csv?raw=true", sep=" ")

In [10]:
eqs.shape
#70798 terremoti
#34 colonne

(70798, 34)

In [11]:
eqs.describe()

,GT,Unnamed: 5,Unnamed: 7,Unnamed: 8,Unnamed: 9,LAT,Unnamed: 11,Unnamed: 12,Unnamed: 15,Unnamed: 16,...,Q,Unnamed: 25,EVID,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,NPH,NGRM
count,0.0,70798.000000,0.0,0.0,70798.000000,70798.00000,0.0,9648.000000,7.359000e+03,4.628900e+04,...,3387.000000,469.000000,2.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,NaN,2.417826,NaN,NaN,33.977749,-116.88145,NaN,13.354343,6.097558e+06,4.482677e+06,...,43.415412,14.746269,7.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,0.407683,NaN,NaN,1.156586,1.07667,NaN,2.724517,4.441852e+06,3.130379e+06,...,24.266088,17.013243,2.828427,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,2.000000,NaN,NaN,30.094830,-121.76000,NaN,10.000000,1.000432e+06,1.070000e+02,...,0.000000,0.000000,5.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,2.120000,NaN,NaN,33.061000,-117.69200,NaN,11.200000,3.041641e+06,3.031237e+06,...,24.000000,0.000000,6.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,2.300000,NaN,NaN,34.056750,-116.59000,NaN,12.800000,3.229114e+06,3.110080e+06,...,38.000000,13.000000,7.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,2.590000,NaN,NaN,34.591000,-116.25100,NaN,14.900000,9.669999e+06,9.027968e+06,...,61.000000,24.000000,8.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,7.100000,NaN,NaN,37.985500,-113.71900,NaN,29.300000,3.736673e+07,9.875061e+06,...,145.000000,88.000000,9.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
eqs.head()
#mi interessano le date YYY/MM/DD e le magnitudini MAG

,#YYY/MM/DD,HH:mm:SS.ss,ET,GT,MAG,Unnamed: 5,M,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Q,Unnamed: 25,EVID,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,NPH,NGRM
0,1984/01/01,01:30:57.52,eq,NaN,l,2.02,c,NaN,NaN,33.246,...,17.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1984/01/01,05:31:34.16,eq,NaN,l,2.12,c,NaN,NaN,32.945,...,42.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1984/01/01,06:59:05.14,eq,NaN,l,2.43,c,NaN,NaN,33.343,...,30.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1984/01/01,11:10:25.29,eq,NaN,l,2.07,c,NaN,NaN,33.668,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1984/01/01,19:38:19.79,eq,NaN,l,2.13,c,NaN,NaN,33.963,...,49.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
eqs.columns

Index(['#YYY/MM/DD', 'HH:mm:SS.ss', 'ET', 'GT', 'MAG', 'Unnamed: 5', 'M',
       'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'LAT', 'Unnamed: 11',
       'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15',
       'Unnamed: 16', 'LON', 'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20',
       'Unnamed: 21', 'Unnamed: 22', 'DEPTH', 'Q', 'Unnamed: 25', 'EVID',
       'Unnamed: 27', 'Unnamed: 28', 'Unnamed: 29', 'Unnamed: 30',
       'Unnamed: 31', 'NPH', 'NGRM'],
      dtype='object')

In [15]:
eqs.rename({"#YYY/MM/DD":"date", "HH:mm:SS.ss": "time"}, axis=1, inplace=True)

In [16]:
eqs.head()

,date,time,ET,GT,MAG,Unnamed: 5,M,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Q,Unnamed: 25,EVID,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,NPH,NGRM
0,1984/01/01,01:30:57.52,eq,NaN,l,2.02,c,NaN,NaN,33.246,...,17.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1984/01/01,05:31:34.16,eq,NaN,l,2.12,c,NaN,NaN,32.945,...,42.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1984/01/01,06:59:05.14,eq,NaN,l,2.43,c,NaN,NaN,33.343,...,30.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1984/01/01,11:10:25.29,eq,NaN,l,2.07,c,NaN,NaN,33.668,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1984/01/01,19:38:19.79,eq,NaN,l,2.13,c,NaN,NaN,33.963,...,49.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
eqs.time.dtype, eqs.date.dtype
# O vuol dire object, in questo caso stringa

(dtype('O'), dtype('O'))

In [18]:
# voglio trasformarlo in un datetime con la funzione pd.to_datetime
pd.to_datetime("1984/01/01" + " " + "19:38:19.79")

Timestamp('1984-01-01 19:38:19.790000')

In [19]:
eqs.date.map(pd.to_datetime)
#un'alternativa più comoda visto che ci sono un po' di errori è usare un for loop

0       1984-01-01
1       1984-01-01
2       1984-01-01
3       1984-01-01
4       1984-01-01
           ...
70793   2002-12-29
70794   2002-12-29
70795   2002-12-29
70796   2002-12-30
70797   2002-12-30
Name: date, Length: 70798, dtype: datetime64[ns]

In [20]:
#ParserError: second must be in 0..59: 1984/08/09 04:48:60.00
#errore di formattazione dei dati, pandas legge da 0 a 59 secondi! 
#non ammette i 60

for i in range(len(eqs)):
  if eqs.iloc[i]["time"].endswith("60.00"):
    eqs.iloc[i]["time"] = eqs.iloc[i]["time"].replace("60.00", "59.99")
  pd.to_datetime(eqs.iloc[i]["date"] + " " + eqs.iloc[i]["time"])

ParserError: ignored

In [ ]:
eqs["datetime"]=pd_to_datetime
eqs["datetime"].