<a href="https://colab.research.google.com/github/AlbertoBassanoni/MLPNS_ABassanoni/blob/main/MLPNS23_bootcamp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
2*2

4

# First markdown cell
This is a text cell in markdown syntax

In [1]:
2*2

4

# Here we start coding

# native variables and variable types

## integers

In [44]:
intVar = 3

In [6]:
type(intVar)

int

## floats

In [9]:
floatVar = 3.0

In [10]:
type(floatVar)

float

In [12]:
float2Var = float(intVar)

In [13]:
type(float2Var)

float

In [16]:
intVar * floatVar

9.0

In [17]:
intVar / 2

1.5

In [18]:
intVar + floatVar

6.0

In [20]:
intVar + floatVar - intVar / 2

4.5

In [22]:
type(intVar + floatVar - intVar / 2)

float

In [23]:
(intVar + floatVar - intVar) / 2

1.5

## strings

In [24]:
print("Hello world")

Hello world

In [25]:
print('Hello world')

Hello world

In [27]:
print("'Hello world'")

'Hello world'

In [29]:
print('''Hello 
world''')

Hello
world

In [60]:
strVar = 'hello world'

In [31]:
strVar

'Hello world'

In [32]:
print(strVar)

Hello world

## boolean variables

In [35]:
True

True

In [36]:
False

False

In [39]:
if True:
  print("this is true")
  print(intVar * floatVar)

this is true
9.0

In [41]:
if False:
  print("this is true")
  print(intVar * floatVar)
else:
  print("condition was false")

condition was false

In [43]:
intVar = floatVar

In [45]:
intVar == floatVar

True

In [46]:
if intVar == floatVar:
  print("this is true")
  print(intVar * floatVar)
else:
  print("condition was false")

this is true
9.0

In [47]:
if intVar > floatVar:
  print("this is true")
  print(intVar * floatVar)
else:
  print("condition was false")

condition was false

In [49]:
# == is equal? This is a comment
print(intVar == floatVar)
# > greater
print(intVar > floatVar)
# < smaller
print(intVar < floatVar)
# != not equal (is the logical NOT)
print(intVar != floatVar)

True
False
False
False

In [50]:
# | is the logical OR
(intVar > floatVar) | (intVar < floatVar)
# & is the logical AND
(intVar > floatVar) & (intVar < floatVar)

False

In [51]:
# sometimes boolean variables equals to numbers in binary language

# True corresponds to 1
True == 1
# False corresponds to 0
False == 0

True

In [53]:
# we can associate boolean operator & with mathematical operator *
if (intVar > floatVar) * (intVar == floatVar):
  print("True")
else:
  print("False")

False

In [54]:
# we can associate boolean operator | with mathematical operator +
if (intVar > floatVar) + (intVar == floatVar):
  print("True")
else:
  print("False")

True

In [55]:
if 2:
  print("something")

something

loops statements

In [57]:
# la funzione range incomincia da 0 e finisce all'intero precedente del terminale
# Python nelle iterative functions ha sempre come default final value FINAL - 1
for i in range(1, 10):
  print(i)

1
2
3
4
5
6
7
8
9

In [58]:
# posso assegnare uno stray negli indici di iterazione
for i in range(1, 10, 2):
  print(i)

1
3
5
7
9

# variable as objects

Python è un object oriented language, C o C++ non è un object oriented language

In [61]:
# posso assegnare un method alla mia variabile chiamandolo attraverso il punto
strVar.capitalize()

'Hello world'

In [62]:
strVar.upper()

'HELLO WORLD'

In [63]:
strVar.isdigit()

False

In [64]:
# isdigit è una function che mi chiede se è un numero oppure no
"3".isdigit()

True

In [65]:
# is_integer è una function che mi chiede se un numero è intero o no
floatVar.is_integer()

True

## list

In [69]:
listVar = [intVar, floatVar, strVar, 0, True]
listVar

[3, 3.0, 'hello world', 0, True]

In [70]:
listVar.append(11)
listVar

[3, 3.0, 'hello world', 0, True, 11]

In [71]:
# Python is 0-indexed, parte da zero
listVar[0]

3

In [72]:
strVar[0]

'h'

In [73]:
'h' in strVar

True

In [74]:
64 in listVar

False

In [75]:
listVar

[3, 3.0, 'hello world', 0, True, 11]

In [77]:
listVar[1] = 9

In [ ]:
target = "yyxyy"

In [ ]:
guess = "xyxxx"

In [ ]:
result "_*___"

In [98]:
# EXERCISE 1 - my solution:


target = list('acres')
guess = list('Acres')
result = list('_____')

for i in range(5):
  if target[i] == guess[i]:
     result[i]=guess[i]
  elif guess[i] in target:
    result[i]='*'

''.join(result)

'_cres'

In [132]:
# EXERCISE 1 - teacher solution:

def wordle(guess, target):
  """
  A function that checks a word guess against a target
  INPUT:
   guess: a string
  RETURN:
   a string
  """
 
test = ['_'] * 5
target = target.lower()
guess = guess.lower()

if len(target) != len(guess):
  print("wrong word length")  
else:
  if target == guess:
    print("DONE!")
    test=target
  else:
    print("try again")
    for i in range(len(test)):
      if guess[i] == target[i]:
        test[i] = guess[i]
      elif guess[i] in target:
        test[i] = "*"

print("".join(test))

return

DONE!
acres

SyntaxError: ignored

In [119]:
wordle("terror","acres")

TypeError: ignored

In [113]:
list_strings_var = ["H", "e", "l", "l", "o"]
"".join(list_strings_var)

'Hello'

# Functions

In [111]:
def wordle(guess):
  """
  A function that checks a word guess against a target
  INPUT:
   guess: a string
  RETURN:
   a string
  """

In [112]:
wordle?

# Importing packages

typical packages that we will see

### pandas
 manipulation of tabular data
### numpy 
 manipulation of numerical data
### scipy
 statistica (also statsmodels)
### matplotlib (pylab)
 visualizations and plotting
### sklearn
 machine learning
### tensorflow
 neural networks

In [133]:
import pandas as pd
# from pandas import * # NEVER!!!!! Rischio di overwrit

In [ ]:
#Si mettono sempre gli oggetti alle righe e le proprietà alle colonne

In [134]:
url = "https://raw.githubusercontent.com/fedhere/PyBOOT/master/311_Service_Requests_from_2010_to_Present.csv"

In [137]:
df = pd.read_csv(url)

In [138]:
df

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,...,Vehicle Type,Taxi Company Borough,Taxi Pick Up Location,Bridge Highway Name,Bridge Highway Direction,Road Ramp,Bridge Highway Segment,Latitude,Longitude,Location
0,54049402,05/01/2022 12:00:03 AM,NaN,NYPD,New York City Police Department,Noise - Residential,Loud Music/Party,Residential Building/House,10452.0,1006 GERARD AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.830653,-73.923082,"(40.83065331987539, -73.92308231033165)"
1,54046813,05/01/2022 12:00:09 AM,05/01/2022 12:07:46 AM,NYPD,New York City Police Department,Noise - Street/Sidewalk,Loud Music/Party,Street/Sidewalk,10027.0,364 WEST 127 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.812378,-73.952401,"(40.81237834836466, -73.95240115039357)"
2,54045643,05/01/2022 12:00:17 AM,05/01/2022 12:10:38 AM,NYPD,New York City Police Department,Noise - Residential,Loud Music/Party,Residential Building/House,10033.0,593 FT WASHINGTON AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.854714,-73.937026,"(40.854713655427595, -73.93702585036192)"
3,54051838,05/01/2022 12:00:21 AM,05/01/2022 12:53:23 AM,NYPD,New York City Police Department,Blocked Driveway,Partial Access,Street/Sidewalk,11214.0,8106 17 AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.611332,-74.002028,"(40.611331690801165, -74.00202773560115)"
4,54052808,05/01/2022 12:00:25 AM,05/01/2022 01:01:47 AM,NYPD,New York City Police Department,Illegal Parking,Commercial Overnight Parking,Street/Sidewalk,10304.0,935 TARGEE STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.605614,-74.090992,"(40.605613964168455, -74.09099181031843)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
919,54049386,05/01/2022 02:04:45 AM,NaN,NYPD,New York City Police Department,Noise - Residential,Loud Music/Party,Residential Building/House,10031.0,514 WEST 136 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.820160,-73.953158,"(40.82015993990901, -73.95315791994004)"
920,54049413,05/01/2022 02:05:35 AM,NaN,NYPD,New York City Police Department,Noise - Street/Sidewalk,Loud Music/Party,Street/Sidewalk,11231.0,151 RICHARDS STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.676566,-74.011100,"(40.6765664690211, -74.01110036402942)"
921,54052476,05/01/2022 02:05:38 AM,NaN,NYPD,New York City Police Department,Noise - Residential,Loud Music/Party,Residential Building/House,11208.0,37 HEMLOCK STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.688911,-73.872353,"(40.68891081481749, -73.87235278581583)"
922,54053504,05/01/2022 02:06:13 AM,NaN,NYPD,New York City Police Department,Illegal Parking,Overnight Commercial Storage,Street/Sidewalk,11373.0,60-42 BOOTH STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.731194,-73.869533,"(40.73119351356087, -73.86953320857873)"
923,54048300,05/01/2022 02:06:26 AM,NaN,NYPD,New York City Police Department,Noise - Vehicle,Car/Truck Music,Street/Sidewalk,11210.0,723 EAST 27 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.633076,-73.950965,"(40.633076468003175, -73.95096540810518)"

In [140]:
df.columns

Index(['Unique Key', 'Created Date', 'Closed Date', 'Agency', 'Agency Name',
       'Complaint Type', 'Descriptor', 'Location Type', 'Incident Zip',
       'Incident Address', 'Street Name', 'Cross Street 1', 'Cross Street 2',
       'Intersection Street 1', 'Intersection Street 2', 'Address Type',
       'City', 'Landmark', 'Facility Type', 'Status', 'Due Date',
       'Resolution Description', 'Resolution Action Updated Date',
       'Community Board', 'BBL', 'Borough', 'X Coordinate (State Plane)',
       'Y Coordinate (State Plane)', 'Open Data Channel Type',
       'Park Facility Name', 'Park Borough', 'Vehicle Type',
       'Taxi Company Borough', 'Taxi Pick Up Location', 'Bridge Highway Name',
       'Bridge Highway Direction', 'Road Ramp', 'Bridge Highway Segment',
       'Latitude', 'Longitude', 'Location'],
      dtype='object')

In [142]:
df.shape

(924, 41)

In [146]:
df.iloc[:, 1]

0      05/01/2022 12:00:03 AM
1      05/01/2022 12:00:09 AM
2      05/01/2022 12:00:17 AM
3      05/01/2022 12:00:21 AM
4      05/01/2022 12:00:25 AM
                ...
919    05/01/2022 02:04:45 AM
920    05/01/2022 02:05:35 AM
921    05/01/2022 02:05:38 AM
922    05/01/2022 02:06:13 AM
923    05/01/2022 02:06:26 AM
Name: Created Date, Length: 924, dtype: object

In [147]:
df.loc[:, 'Complaint Type']

0          Noise - Residential
1      Noise - Street/Sidewalk
2          Noise - Residential
3             Blocked Driveway
4              Illegal Parking
                ...
919        Noise - Residential
920    Noise - Street/Sidewalk
921        Noise - Residential
922            Illegal Parking
923            Noise - Vehicle
Name: Complaint Type, Length: 924, dtype: object

In [148]:
url = 'https://raw.githubusercontent.com/fedhere/UInotebooks/master/dataWrangling/movies.dat'

In [158]:
pd.read_csv(url)

ParserError: ignored

In [150]:
pd.read_csv?

In [159]:
colnames= ['Title','Genre']
movies = pd.read_csv(url, sep="::", index_col=0, header=None, names=colnames)
movies

/usr/local/lib/python3.9/dist-packages/pandas/util/_decorators.py:311: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  return func(*args, **kwargs)

                                   Title                         Genre
1                       Toy Story (1995)   Animation|Children's|Comedy
2                         Jumanji (1995)  Adventure|Children's|Fantasy
3                Grumpier Old Men (1995)                Comedy|Romance
4               Waiting to Exhale (1995)                  Comedy|Drama
5     Father of the Bride Part II (1995)                        Comedy
...                                  ...                           ...
3948             Meet the Parents (2000)                        Comedy
3949          Requiem for a Dream (2000)                         Drama
3950                    Tigerland (2000)                         Drama
3951             Two Family House (2000)                         Drama
3952               Contender, The (2000)                Drama|Thriller

[3883 rows x 2 columns]

In [155]:
type(df)

pandas.core.frame.DataFrame

In [161]:
movies.shape

(3883, 2)

In [160]:
movies.columns

Index(['Title', 'Genre'], dtype='object')

In [168]:
movies["Genre"]

1        Animation|Children's|Comedy
2       Adventure|Children's|Fantasy
3                     Comedy|Romance
4                       Comedy|Drama
5                             Comedy
                    ...
3948                          Comedy
3949                           Drama
3950                           Drama
3951                           Drama
3952                  Drama|Thriller
Name: Genre, Length: 3883, dtype: object

In [169]:
"Toy Story (1995)".split()

['Toy', 'Story', '(1995)']

In [172]:
#trucchetto: se uso come indice -1 parto dal primo elemento alla fine!
"Toy Story (1995)".split()[-1].replace("(","").strip(")")

'1995'

In [174]:
"Toy Story (1995)".split("(")[-1].strip(")")

'1995'

In [176]:
def get_year(mtitle):
  """
  """

  return int(mtitle.split("(")[-1].strip(")"))

In [177]:
movies["Title"].map(get_year)

1       1995
2       1995
3       1995
4       1995
5       1995
        ...
3948    2000
3949    2000
3950    2000
3951    2000
3952    2000
Name: Title, Length: 3883, dtype: int64

In [179]:
movies["year"]=movies["Title"].map(get_year)
movies

                                   Title                         Genre  year
1                       Toy Story (1995)   Animation|Children's|Comedy  1995
2                         Jumanji (1995)  Adventure|Children's|Fantasy  1995
3                Grumpier Old Men (1995)                Comedy|Romance  1995
4               Waiting to Exhale (1995)                  Comedy|Drama  1995
5     Father of the Bride Part II (1995)                        Comedy  1995
...                                  ...                           ...   ...
3948             Meet the Parents (2000)                        Comedy  2000
3949          Requiem for a Dream (2000)                         Drama  2000
3950                    Tigerland (2000)                         Drama  2000
3951             Two Family House (2000)                         Drama  2000
3952               Contender, The (2000)                Drama|Thriller  2000

[3883 rows x 3 columns]